<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clamly</title>
    <link rel="stylesheet" href="/src/components/Home/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
        integrity="sha512-oHDEc8Xed4hiW6CxD7qjbnI+B07vDdX7hEPTvn9pSZO1bcRqHp8mj9pyr+8RVC2GmtEfI2Bi9Ke9Ass0as+zpg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/src/img/moeda.PNG">
</head>

<body>
    <header>
        <nav>
            <a href="">Status</a>
            <a href="">Processo</a>
            <a href="">Pedidos</a>
            <img src="/src/img/logo.svg" alt="">
            <a href="">Feedback</a>
            <a href="">Dúvidas</a>
            <a href="">Contato</a>
        </nav>
    </header>

    <main>
        <section class="main-container">
            <div class="progress-bar"></div>
            <article class="process-container">
                <div class="process">
                    <button>
                        <img src="/src/img/Cancel.svg" alt="">
                        <p>Cancelamentos</p>
                    </button>
                </div>
                <div class="process">
                    <button>
                        <img src="/src/img/Clock.svg" alt="">
                        <p>Pendentes</p>
                    </button>
                </div>
                <div class="process">
                    <button>
                        <img src="/src/img/Check Mark.svg" alt="">
                        <p>Aprovados</p>
                    </button>
                </div>
            </article>
            <div class="check-request">
                <a href="">
                    <p>Verificar Solicitação</p>
                </a>
            </div>
            <div class="main-coin">
                <img src="/src/img/coin.svg" alt="">
            </div>
        </section>
    </main>
    <section class="orders">
        <h1>A Forma mais prática é rápida de pedir reembolso das suas viagens</h1>
        <article class="orders-container">
            <div class="orders-card">
                <img src="/src/img/Email.svg" alt="">
                <h1>Envie sua solicitação</h1>
                <p>Envie sua solicitação de reembolso, incluindo todos os dados necessários.</p>
            </div>
            <div class="orders-card">
                <img src="/src/img/Survey.svg" alt="">
                <h1>Revisão de dados</h1>
                <p>O financeiro revisará seus dados e confirmará o reembolso.</p>
            </div>
            <div class="orders-card">
                <img src="/src/img/Creative Commons Commercial.svg" alt="">
                <h1>Aprovado</h1>
                <p>Após todo esse processo, o reembolso já estará no seu bolso.</p>
            </div>
        </article>
        <div class="orders-arrow">
            <img src="/src/img/Down Arrow.svg" alt="">
        </div>
        <div class="orders-add">
            <a href=""><img src="/src/img/Add.svg" alt=""></a>
            <h1>Pedir Reembolso</h1>
            <a href="">
                <p>Pedidos</p>
            </a>
        </div>
    </section>
    <section>
        <div class="carousel">
            <h1>Feedbacks</h1>
            <div class="container">
                <button id="left-btn"><i class="arrow"></i></button>
                <img id="carousel" src="" alt="">
                <button id="right-btn"><i class="arrow"></i></button>
            </div>
        </div>
        <script src="/src/js/script.js"></script>
    </section>

    <section class="questions-container">
        <h1>Dúvidas frequentes sobre os reembolso</h1>
        <article class="questions-cards">
            <div class="questions">
                <p>E se eu perder o recibo ou comprovante de compra?</p>
                <a href=""><img src="/src/img/Plus.svg" alt=""></a>
            </div>
            <div class="questions">
                <p>Qual é o prazo para receber o reembolso?</p>
                <a href=""><img src="/src/img/Plus.svg" alt=""></a>
            </div>
            <div class="questions">
                <p>Como sei se minha solicitação de reembolso foi aprovada?</p>
                <a href=""><img src="/src/img/Plus.svg" alt=""></a>
            </div>
            <div class="questions">
                <p>E se eu não receber o reembolso dentro do prazo prometido?</p>
                <a href=""><img src="/src/img/Plus.svg" alt=""></a>
            </div>
        </article>
    </section>
</body>
<footer>
    <h1>Contatos</h1>
    <div class="line"></div>
    <div class="footer-section">
        <a href="https://www.instagram.com/"><img src="/src/img/Instagram.svg" alt=""></a>
        <a href="https://web.whatsapp.com/"><img src="/src/img/WhatsApp.svg" alt=""></a>
        <a href="https://www.facebook.com/?locale=pt_BR"><img src="/src/img/Facebook.svg" alt=""></a>
    </div>
        <div class="footer-phone">
            <img src="/src/img/Phone.svg" alt="">
            <p>11 94054-5519</p>
            <img src="/src/img/Phone.svg" alt="">
            <p>11 97687-6723</p>
        </div>
        <div class="footer-phone">
            <img src="/src/img/Phone.svg" alt="">
            <p>11 96304-0814</p>
            <img src="/src/img/Phone.svg" alt="">
            <p>11 95953-5383</p>
        </div>
</footer>

</html>