@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mitr:wght@200;300;400;500;600;700&display=swap');

body {
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #0D0F36;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 200px;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#69d2cd 25%, #294380 0);
}

.progress-bar::before {
  content: "3 processos abertos";
  width: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.main-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 161px;
}

.process-container {
  display: flex;
  justify-content: center;
  margin-top: 158px;
  gap: 144px;
}

.process {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 123px;
  background-color: #69D2CD;
  border-radius: 10px;
}

.process p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.process button {
  background-color: transparent;
  border: none;
}

.process button:hover {
  width: 128px;
  height: 123px;
  background-color: #b9f1d6;
  transition: 1.5s;
  border-radius: 10px;
}

.check-request p {
  margin-right: 630px;
}

.check-request a {
  text-decoration: none;
  color: #000000;
}

.main-coin {
  margin-top: 103px;
}

.orders {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 162px;
}

.orders h1 {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  color: #000000;
}

.orders-container {
  display: flex;
  justify-content: space-around;
  gap: 79px;
  align-items: center;
  text-align: center;
  margin-top: 88px;
}

.orders-card h1 {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}

.orders-card p {
  width: 309px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}

.orders-arrow {
  margin-top: 140px;
}

.orders-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 178px;
}

.orders-add h1 {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  color: #000000;
}

.orders-add p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  margin-top: -10px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 181px;
}

.carousel h1 {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 75px;
  text-align: center;
  color: #000000;
}

.container {
  margin-top: 106px;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  /*  box-shadow is from materialize css's website */
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.container img {
  width: 100%;
  z-index: -2;
}

.container button {
  height: 44px;
  align-items: center;
  width: 44px;
  border: solid 2px #294380;
  outline: none;
  background: transparent;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
}

button .arrow {
  border: solid #294380;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease-out;
  outline: none;
}

#right-btn {
  margin: auto 0 auto -2em;
}

#right-btn .arrow {
  transform: rotate(-45deg);
}

#left-btn {
  z-index: 0;
  margin: auto -2em auto 0;
}

#left-btn .arrow {
  transform: rotate(135deg);
}

.questions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.questions-container h1 {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  color: #000000;
}

.questions-cards {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-top: 62px;
}

.questions {
  display: flex;
  background-color: #ECECEC;
  width: 1098px;
  height: 48px;
  border-radius: 10px;
  gap: 430px;
}

.questions p {
  display: flex;
  align-items: center;
  width: 582px;
  height: 17px;
  left: 189px;
  top: 3187px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: start;
  color: #000000;
  margin-left: 30px;
}

.questions a {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: center;
  background-color: #0D0F36;
  margin-top: 220px;
  width: 100%;
  height: 506px;
}

footer h1 {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 63px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 40px;
}

.line {
  position: absolute;
  margin-top: 90px;
  margin-left: 40px;
  width: 163px;
  height: 2px;
  background: #D9D9D9;
}

.footer-section {
  display: flex;
  margin-top: 50px;
  gap: 40px;
  margin-left: 40px;
}

.footer-section img {
  width: 74px;
  height: 56px;
}

.footer-phone {
  display: flex;
  margin-top: 70px;
  gap: 30px;
  color: white;
  margin-left: 40px;
}

.footer-phone p {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 820px) {
  header a {
    display: none;
  }

  .process-container {
    display: flex;
    flex-direction: column;
  }

  .check-request p {
    display: none;
  }

  .orders h1 {
    width: 316px;
  }

  .orders-container {
    display: flex;
    flex-direction: column;
  }

  .questions {
    display: flex;
    background-color: #ECECEC;
    width: 338px;
    height: 39px;
    border-radius: 10px;
    gap: 430px;
  }

  .questions p {
    width: 2197px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #000000;
    margin-left: 10px;
  }

  .questions a {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: center;
    background-color: #0D0F36;
    margin-top: 220px;
    width: 100%;
    height: 671px;
  }

  .footer-phone {
    display: flex;
    margin-top: 70px;
    gap: 0px;
    color: white;
    margin-left: 20px;
  }

  .footer-phone p {
    text-decoration: none;
  }

}